In [211]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import numpy as np

In [212]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

In [213]:
train.head()

,id,perc_premium_paid_by_cash_credit,age_in_days,Income,Count_3-6_months_late,Count_6-12_months_late,Count_more_than_12_months_late,application_underwriting_score,no_of_premiums_paid,sourcing_channel,residence_area_type,target
0,110936,0.429,12058,355060,0.0,0.0,0.0,99.02,13,C,Urban,1
1,41492,0.010,21546,315150,0.0,0.0,0.0,99.89,21,A,Urban,1
2,31300,0.917,17531,84140,2.0,3.0,1.0,98.69,7,C,Rural,0
3,19415,0.049,15341,250510,0.0,0.0,0.0,99.57,9,A,Urban,1
4,99379,0.052,31400,198680,0.0,0.0,0.0,99.87,12,B,Urban,1

In [214]:
train = train.drop("id",1)

In [215]:
train.head()

,perc_premium_paid_by_cash_credit,age_in_days,Income,Count_3-6_months_late,Count_6-12_months_late,Count_more_than_12_months_late,application_underwriting_score,no_of_premiums_paid,sourcing_channel,residence_area_type,target
0,0.429,12058,355060,0.0,0.0,0.0,99.02,13,C,Urban,1
1,0.010,21546,315150,0.0,0.0,0.0,99.89,21,A,Urban,1
2,0.917,17531,84140,2.0,3.0,1.0,98.69,7,C,Rural,0
3,0.049,15341,250510,0.0,0.0,0.0,99.57,9,A,Urban,1
4,0.052,31400,198680,0.0,0.0,0.0,99.87,12,B,Urban,1

In [216]:
train.isnull().sum()

perc_premium_paid_by_cash_credit       0
age_in_days                            0
Income                                 0
Count_3-6_months_late                 97
Count_6-12_months_late                97
Count_more_than_12_months_late        97
application_underwriting_score      2974
no_of_premiums_paid                    0
sourcing_channel                       0
residence_area_type                    0
target                                 0
dtype: int64

In [217]:
train.describe()

,perc_premium_paid_by_cash_credit,age_in_days,Income,Count_3-6_months_late,Count_6-12_months_late,Count_more_than_12_months_late,application_underwriting_score,no_of_premiums_paid,target
count,79853.000000,79853.000000,7.985300e+04,79756.000000,79756.000000,79756.000000,76879.000000,79853.000000,79853.000000
mean,0.314288,18846.696906,2.088472e+05,0.248671,0.078188,0.060008,99.067291,10.863887,0.937410
std,0.334915,5208.719136,4.965826e+05,0.691468,0.436507,0.312023,0.739799,5.170687,0.242226
min,0.000000,7670.000000,2.403000e+04,0.000000,0.000000,0.000000,91.900000,2.000000,0.000000
25%,0.034000,14974.000000,1.080100e+05,0.000000,0.000000,0.000000,98.810000,7.000000,1.000000
50%,0.167000,18625.000000,1.665600e+05,0.000000,0.000000,0.000000,99.210000,10.000000,1.000000
75%,0.538000,22636.000000,2.520900e+05,0.000000,0.000000,0.000000,99.540000,14.000000,1.000000
max,1.000000,37602.000000,9.026260e+07,13.000000,17.000000,11.000000,99.890000,60.000000,1.000000

In [218]:
train['Count_3-6_months_late'].fillna(train['Count_3-6_months_late'].std(),inplace=True)
train['Count_6-12_months_late'].fillna(train['Count_6-12_months_late'].std(),inplace=True)
train['Count_more_than_12_months_late'].fillna(train['Count_more_than_12_months_late'].std(),inplace=True)
train['application_underwriting_score'].fillna(99.21,inplace=True)

In [219]:
test.isnull().sum()

id                                     0
perc_premium_paid_by_cash_credit       0
age_in_days                            0
Income                                 0
Count_3-6_months_late                 31
Count_6-12_months_late                31
Count_more_than_12_months_late        31
application_underwriting_score      1323
no_of_premiums_paid                    0
sourcing_channel                       0
residence_area_type                    0
dtype: int64

In [220]:
test.describe()

,id,perc_premium_paid_by_cash_credit,age_in_days,Income,Count_3-6_months_late,Count_6-12_months_late,Count_more_than_12_months_late,application_underwriting_score,no_of_premiums_paid
count,34224.000000,34224.000000,34224.000000,3.422400e+04,34193.000000,34193.000000,34193.000000,32901.000000,34224.000000
mean,56739.956376,0.314457,18824.215346,2.028201e+05,0.238733,0.080718,0.058111,99.061898,10.890428
std,32935.402647,0.334059,5246.525604,2.702536e+05,0.686162,0.454634,0.307046,0.742942,5.216867
min,1.000000,0.000000,7671.000000,2.403000e+04,0.000000,0.000000,0.000000,91.900000,2.000000
25%,28254.750000,0.034000,14972.000000,1.063975e+05,0.000000,0.000000,0.000000,98.800000,7.000000
50%,56488.000000,0.169000,18623.000000,1.650700e+05,0.000000,0.000000,0.000000,99.210000,10.000000
75%,85386.250000,0.540000,22636.000000,2.500200e+05,0.000000,0.000000,0.000000,99.530000,14.000000
max,114077.000000,1.000000,35785.000000,2.191455e+07,12.000000,10.000000,7.000000,99.890000,59.000000

In [221]:
test['Count_3-6_months_late'].fillna(test['Count_3-6_months_late'].std(),inplace=True)
test['Count_6-12_months_late'].fillna(test['Count_6-12_months_late'].std(),inplace=True)
test['Count_more_than_12_months_late'].fillna(test['Count_more_than_12_months_late'].std(),inplace=True)
test['application_underwriting_score'].fillna(98.8,inplace=True)

In [222]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34224 entries, 0 to 34223
Data columns (total 11 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   id                                34224 non-null  int64
 1   perc_premium_paid_by_cash_credit  34224 non-null  float64
 2   age_in_days                       34224 non-null  int64
 3   Income                            34224 non-null  int64
 4   Count_3-6_months_late             34224 non-null  float64
 5   Count_6-12_months_late            34224 non-null  float64
 6   Count_more_than_12_months_late    34224 non-null  float64
 7   application_underwriting_score    34224 non-null  float64
 8   no_of_premiums_paid               34224 non-null  int64
 9   sourcing_channel                  34224 non-null  object
 10  residence_area_type               34224 non-null  object
dtypes: float64(5), int64(4), object(2)
memory usage: 2.9+ MB

In [223]:
train = pd.get_dummies(train)

In [224]:
test = pd.get_dummies(test)

In [225]:
train.head()

,perc_premium_paid_by_cash_credit,age_in_days,Income,Count_3-6_months_late,Count_6-12_months_late,Count_more_than_12_months_late,application_underwriting_score,no_of_premiums_paid,target,sourcing_channel_A,sourcing_channel_B,sourcing_channel_C,sourcing_channel_D,sourcing_channel_E,residence_area_type_Rural,residence_area_type_Urban
0,0.429,12058,355060,0.0,0.0,0.0,99.02,13,1,0,0,1,0,0,0,1
1,0.010,21546,315150,0.0,0.0,0.0,99.89,21,1,1,0,0,0,0,0,1
2,0.917,17531,84140,2.0,3.0,1.0,98.69,7,0,0,0,1,0,0,1,0
3,0.049,15341,250510,0.0,0.0,0.0,99.57,9,1,1,0,0,0,0,0,1
4,0.052,31400,198680,0.0,0.0,0.0,99.87,12,1,0,1,0,0,0,0,1

In [226]:
test.head()

,id,perc_premium_paid_by_cash_credit,age_in_days,Income,Count_3-6_months_late,Count_6-12_months_late,Count_more_than_12_months_late,application_underwriting_score,no_of_premiums_paid,sourcing_channel_A,sourcing_channel_B,sourcing_channel_C,sourcing_channel_D,sourcing_channel_E,residence_area_type_Rural,residence_area_type_Urban
0,649,0.001,27384,51150,0.0,0.0,0.0,99.89,7,1,0,0,0,0,1,0
1,81136,0.124,23735,285140,0.0,0.0,0.0,98.93,19,1,0,0,0,0,0,1
2,70762,1.000,17170,186030,0.0,0.0,0.0,98.80,2,0,1,0,0,0,0,1
3,53935,0.198,16068,123540,0.0,0.0,0.0,99.00,11,0,1,0,0,0,1,0
4,15476,0.041,10591,200020,1.0,0.0,0.0,99.17,14,1,0,0,0,0,1,0

In [227]:
X = train.drop("target",1)

In [228]:
y = train['target']

In [229]:
y.head()

0    1
1    1
2    0
3    1
4    1
Name: target, dtype: int64

In [230]:
test2 = test.drop('id',1)

In [231]:
test2.head()

,perc_premium_paid_by_cash_credit,age_in_days,Income,Count_3-6_months_late,Count_6-12_months_late,Count_more_than_12_months_late,application_underwriting_score,no_of_premiums_paid,sourcing_channel_A,sourcing_channel_B,sourcing_channel_C,sourcing_channel_D,sourcing_channel_E,residence_area_type_Rural,residence_area_type_Urban
0,0.001,27384,51150,0.0,0.0,0.0,99.89,7,1,0,0,0,0,1,0
1,0.124,23735,285140,0.0,0.0,0.0,98.93,19,1,0,0,0,0,0,1
2,1.000,17170,186030,0.0,0.0,0.0,98.80,2,0,1,0,0,0,0,1
3,0.198,16068,123540,0.0,0.0,0.0,99.00,11,0,1,0,0,0,1,0
4,0.041,10591,200020,1.0,0.0,0.0,99.17,14,1,0,0,0,0,1,0

In [232]:
from sklearn.linear_model import LinearRegression
lreg = LinearRegression()
lreg.fit(X,y)
pred_a = lreg.predict(test2)

In [233]:
submission = pd.DataFrame({
        "id": test["id"],
        "target": pred_a
    })

submission.to_csv('4ilreg.csv', index=False)

In [234]:
# from sklearn.tree import ExtraTreeRegressor
# regr1 = ExtraTreeRegressor()
# regr1.fit(X, y)
# pred_c = regr1.predict(test2)

In [235]:
# submission = pd.DataFrame({
#         "id": test["id"],
#         "target": pred_c
#     })

# submission.to_csv('iETR.csv', index=False)

In [236]:
# from sklearn.tree import DecisionTreeRegressor
# regressor = DecisionTreeRegressor(random_state = 0)
# regressor.fit(X, y)
# pred_e = regressor.predict(test2)

In [237]:
# submission = pd.DataFrame({
#         "id": test["id"],
#         "target": pred_e
#     })

# submission.to_csv('iDECTR.csv', index=False)

In [238]:
# from sklearn.ensemble import RandomForestRegressor
# reg = RandomForestRegressor(n_estimators = 10, random_state = 0)
# reg.fit(X, y)
# pred_f = reg.predict(test2)

In [239]:
# submission = pd.DataFrame({
#         "id": test["id"],
#         "target": pred_f
#     })

# submission.to_csv('irfr.csv', index=False)

In [240]:
# from sklearn.ensemble import BaggingRegressor
# regr = BaggingRegressor()
# regr.fit(X, y)
# pred_b = regr.predict(test2)

In [241]:
# submission = pd.DataFrame({
#         "id": test["id"],
#         "target": pred_b
#     })

# submission.to_csv('ibr.csv', index=False)

In [242]:
# from sklearn.svm import NuSVR
# svr = NuSVR()
# svr.fit(X, y)
# pred_d = svr.predict(test2)

In [243]:
# submission = pd.DataFrame({
#         "id": test["id"],
#         "target": pred_d
#     })

# submission.to_csv('iNusvr.csv', index=False)

In [244]:
# from sklearn.svm import SVR
# regressor = SVR(kernel = 'rbf')
# regressor.fit(X, y)
# pred_g = regressor.predict(test2)

In [245]:
# submission = pd.DataFrame({
#         "id": test["id"],
#         "target": pred_g
#     })

# submission.to_csv('isvr.csv', index=False)